@import "vars";
@import "fonts";
@import "libs";
@import "media";
@import "../scss/blocks/HEADER/header";
@import "../scss/blocks/MAINCONTENT/mainContent";
@import "../scss/blocks/MAINCONTENT/consultation";
@import "../scss/blocks/MAINCONTENT/map";
@import "../scss/blocks/FOOTER/footer";

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2px 80px 0 0;
  @include respondCustom(0px, 992px) {
    padding: 0;
  }
}